/* style global de toute l'appli */
html{
  width: 100vw; 
  height: 100vh; /*vh = hauteur de l'ecran (100 = tout)*/
  position: relative;
  /* overflow: hidden; */
}

body{
  width: 100%; /* 100% de la taille du parent, ici html*/
  height: 100%;
  margin : 0;
}

#root{
  height: 100%;
  width: 100%;
}
